<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : interface의 full name parameterType : 파라미터로 전달되는 객체의 full 
	name insert, update, delete => resultType을 지정하지 않아야 한다. -->

<mapper namespace="net.scit.dao.BoardMapper">	<!-- 자바의 인터페이스 -->

	<insert id="writeBoard" parameterType="Board">
		INSERT INTO
		board(boardnum, writer, title, text)
		VALUES (board_seq.nextval,
		#{writer}, #{title}, #{text})
	</insert>

	<select id="listBoard" resultType="Board">
		SELECT boardnum, writer,
		title, text, hitcount, TO_CHAR(regdate, 'MM-DD HH:MM')
		FROM board
	</select>

	<select id="readBoard" parameterType="String" resultType="Board">
		SELECT
		boardnum, writer, title, text, hitcount, TO_CHAR(regdate, 'MM-DD HH:MM')
		FROM board
		WHERE
		boardnum = #{boardnum}
	</select>

	<update id="incrementHitcount" parameterType="String">
		UPDATE board
		SET
		hitcount = hitcount + 1
		WHERE boardnum = #{boardnum}
	</update>

	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
		title=#{title}, text=#{text}
		WHERE boardnum = #{boardnum}
	</update>

	<delete id="deleteBoard" parameterType="String">
		DELETE FROM board
		WHERE
		boardnum = #{boardnum}
	</delete>

	<select id="getCount" resultType="int">
		SELECT COUNT(*)
		FROM board
	</select>
	
	<select id="searchBoard" parameterType="map" resultType="Board">
		SELECT *
		FROM board
		WHERE
		<choose>
			<when test="searchItem == 'writer'">writer</when>
			<when test="searchItem == 'title'">title</when>
			<when test="searchItem == 'text'">text</when>
		</choose>
		LIKE '%' || #{searchWord} || '%'
	</select>

</mapper>