<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.NoticeMapper">
		
		<select id="listBoards" resultType="Notice" >
		select *
		from notice
		ORDER by n_num DESC
		</select>
		
		<insert id="weiterBoards" parameterType="Notice">
			INSERT INTO notice
			(n_num,n_title,n_content,n_hitcount)
			VALUES
			(n_num_seq.nextval,#{n_title},#{n_content},#{n_hitcount})
		</insert>
		
		<select id="readNotices" resultType="Notice" parameterType="String">
		SELECT
		n_num,n_title,n_content,n_hitcount
		FROM notice
		WHERE
		n_num = #{n_num}
		</select>
		
		<delete id="deletBoards" parameterType="String">
		DELETE
		notice
		where n_num = #{n_num}
		</delete>

	<update id="updateBoards" parameterType="Notice">
		UPDATE notice
		SET
		n_title=#{n_title}, n_content=#{n_content}
		WHERE n_num = #{n_num}
	</update>
	
		
		
		
		

</mapper>