<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : interface의 full name parameterType : 파라미터로 전달되는 객체의 full 
	name insert, update, delete => resultType을 지정하지 않아야 한다. -->

<mapper namespace="net.scit.dao.UserMapper">	<!-- 자바의 인터페이스 -->
	<select id="findById" resultType="User" parameterType="String">
		SELECT *
		FROM
		USR
		where usrid = #{usrid}
	</select>

	<select id="findByTeamnum" resultType="User" parameterType="int">
		SELECT count(*)
		FROM
		USR
		where teamnum = #{teamnum}
	</select>

	<insert id="joinBoard" parameterType="User">
		INSERT INTO USR
		VALUES
		( #{usrid}, #{pw},
		#{usrname}, #{teamnum})
	</insert>

	
	<select id="Logins" resultType="User" parameterType="User">
		SELECT *
		FROM
		USR
		where usrid = #{usrid}
	</select>


	<!-- 팀멤버 조회 -->
	<select id="userReply" resultType="User" parameterType="User">
		SELECT *
		FROM
		USR
		where teamnum = #{teamnum}
	</select>
	
	<select id="allReply" resultType="User" parameterType="User">
		SELECT *
		FROM
		USR
	</select>

	<select id="findByName" parameterType="string" resultType="User">
		SELECT *
		FROM USR
		WHERE usrname = #{usrname}
	</select>


</mapper>