<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.ReplyMapper">

	<select id="listReply" parameterType = "String" resultType="Reply">
		SELECT
		*
		FROM reply r
		WHERE b_num = #{b_num}
	</select>
	
	<select id="ganlistReply" resultType="Reply">
		SELECT
		*
		FROM reply r, board b
		WHERE r.b_num = b.b_num
		and b.b_num = #{b_num}
	</select>
	

	<insert id="writeReply" parameterType="Reply">
		INSERT INTO reply
		(r_num, b_num, r_content, usrid)
		VALUES
		(r_num_seq.nextval,#{b_num},#{r_content},#{usrid})
	</insert>

	<select id="selectReply" parameterType="string"
		resultType="Reply">
		SELECT *
		FROM reply
		WHERE r_num = #{r_num}
	</select>

	<update id="updateReply" parameterType="Reply">
		UPDATE reply
		SET 
		r_content = #{r_content}
		WHERE r_num = #{r_num}
	</update>

	<delete id="deleteReply" parameterType="string">
		DELETE FROM reply
		WHERE
		r_num = #{r_num}
	</delete>

</mapper>