<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.scit.dao.TodoMapper">

	<sql id="selectBy">
		SELECT t_num, t_content, usrid, teamnum, t_state, TO_CHAR(t_regdate, 'YY/MM/DD HH:MM') as t_regdate
		FROM todo
	</sql>

	<select id="listAll" resultType="Todo">
		<include refid="selectBy"></include>
		ORDER BY t_regdate DESC
	</select>

	<select id="listByPerson" resultType="Todo">
		<include refid="selectBy"></include>
		WHERE usrid = #{usrid}
	</select>

	<select id="listByTeam" parameterType="string" resultType="Todo">
		<include refid="selectBy"></include>
		WHERE teamnum = #{teamnum}
	</select>
	
	<select id="listByPersonSearch" parameterType="map" resultType="Todo">
		<include refid="selectBy"></include>
		WHERE usrid = #{usrid}
		AND t_content LIKE '%'||#{searchWord}||'%'
	</select>
	
	<select id="listByTeamSearch" parameterType="map" resultType="Todo">
		<include refid="selectBy"></include>
		WHERE teamnum = #{teamnum}
		AND t_content LIKE '%'||#{searchWord}||'%'
	</select>
	
	<select id="findByTnum" parameterType="String" resultType="Todo">
		<include refid="selectBy"></include>
		WHERE t_num = #{t_num}
	</select>

	<insert id="insertTodo" parameterType="Todo">
		INSERT INTO todo
		VALUES(t_num_seq.NEXTVAL,#{t_content}, #{usrid}, #{teamnum}, #{t_state},
		0, sysdate)
	</insert>

	<update id="updateTodo" parameterType="Todo">
		UPDATE todo
		SET usrid =
		#{usrid}, teamnum = #{teamnum}, t_state = #{t_state}, t_priority =
		#{t_priority}
		WHERE t_num = #{t_num}
	</update>

	<delete id="deleteTodo" parameterType="string">
		DELETE FROM todo
		WHERE
		t_num = #{t_num}
	</delete>
</mapper>